body {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 1250px;
  background-color: #f2f2f2;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px -25px 15px 0px rgba(0, 1, 1, 0.2);
}

img.center {
    display: block;
    margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.main-header {
  position: relative;
}

.main-header .logo {
  position: absolute;
  top: 0;
  left: 531px;
  right: 531px;
}

.main-navigation {
  margin-left: 70px;
}

.main-navigation ul {
  display: inline-block;
  width: 1056px;
  padding: 15px 0;
  margin: 0;
  vertical-align: top;
  list-style: none;
}

.main-navigation-left {
  margin-right: 148px;
  float: left;
}

.main-navigation-right {
  float: right;
  margin-left: 163px;
}

.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.4);;
}

.main-header img {
  margin-bottom: 50px;
}

.about {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 500px;
}

.about h1 {
  margin-bottom: 30px;
}

.about p {
  color: #333333;
}

.col {
  width: 400px;
  min-height: 206px;
  padding-top: 50px;
  background-color: #81b3d2;
  color: #ffffff;
}

img.center {
    display: block;
    margin: 0 auto;
}

.promo .col {
  margin-bottom: 60px;
  margin-top: 30px;
  background: #ffffff;
}

.promo .col img {
  margin-bottom: 30px;
}

.promo h2,
.row-gray h2 {
  color: #000000;
}

.promo p,
.row-gray p {
  color: #333333;
}

.row-gray .col {
  background-color: #eeeeee;
}

.search-form-title {
  position: relative;
  float: left;
  width: 1200px;
  min-height: 260px;
  padding-top: 55px;
}

.search-form-title h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.search-form-title  p {
  margin: 0;
  margin-bottom: 135px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.search-form {
  position: absolute;;
  width: 570px;
  height: 480px;
  top: 200px;
  left: 315px;
  right: -315px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-form h2 {
  margin: 0;
  margin-bottom: 55px;
  padding: 33px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
  color: #ffffff;
}

.search-form input[type=date] {
	background: #f2f2f2;
  border: none;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
	line-height: 26px;
	outline: 0;
	width: 330px;
  height: 38px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.search-form .search-form-label {
  display: inline-block;
  width: 110px;
  margin-left: 40px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-form .count-btn {
  width: 38px;
  height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #a9a9a9;
}

.search-form input[type=text] {
  border: 0;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background: #f2f2f2;
  color: #000000;
  text-align: center;
}

.main-footer {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #000000;
  background: rgba(255, 255, 255, 0.9);
}

.footer-tagname {
  float: left;
  padding-left: 130px;
  margin-right: 250px;
}

.footer-tagname h2 {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social {
  float: left;
  width: 160px;
}

.social-btn {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 3px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2;
}

.social-btn:last-child {
  margin-right: 0;
}
